<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVerificationCodeWcfService" />
                <binding name="BasicHttpsBinding_IVerificationCodeWcfService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://srvpetionline.ingemmet.int/service/VerificationCode.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVerificationCodeWcfService"
                contract="IVerificationCodeWcfService" name="BasicHttpBinding_IVerificationCodeWcfService" />
            <endpoint address="https://serviciosdigitales.ingemmet.gob.pe/service/VerificationCode.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IVerificationCodeWcfService"
                contract="IVerificationCodeWcfService" name="BasicHttpsBinding_IVerificationCodeWcfService" />
        </client>
    </system.serviceModel>
</configuration>