<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmailWcfService" />
                <binding name="BasicHttpsBinding_IEmailWcfService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://srvpetionline.ingemmet.int/service/EmailSender.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailWcfService"
                contract="IEmailWcfService" name="BasicHttpBinding_IEmailWcfService" />
            <endpoint address="https://serviciosdigitales.ingemmet.gob.pe/service/EmailSender.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IEmailWcfService"
                contract="IEmailWcfService" name="BasicHttpsBinding_IEmailWcfService" />
        </client>
    </system.serviceModel>
</configuration>