@{
    ViewBag.Title = "Dashboard";
}

<h5>Hola, @UserClaimsIdentity.GetUserName (@UserClaimsIdentity.GetUserOffice)</h5>
<h6>Correo: @UserClaimsIdentity.GetUserEmail</h6>

<a href="@Url.Action("SignOut", "Authorization", new { area = "", returnUrl = ""})">Cerrar Sessión</a>
